@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
  body {
    display: flex;
    min-height: 100dvh;
    width: 100%;
    font-family: var(--font-display);
    color: var(--color-blue900);
    background-image: url(assets/images/pattern-background-mobile-light.svg);
    background-color: var(--color-grey50);
    background-repeat: no-repeat;
    background-position: right 1rem bottom 1rem;
    background-size: cover;
  }
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }
  h1 {
    font-size: clamp(2.5rem, 1.429rem + 5.357vw, 4rem);
    font-weight: 300;
    line-height: 100%;
  }

  h1 span {
    font-weight: 500;
    line-height: 100%;
  }

  h2 {
    font-family: var(--font-display-Italic);
    color: var(--color-grey500);
    line-height: 150%;
    font-size: clamp(0.875rem, 0.607rem + 1.339vw, 1.25rem);
  }

  img {
    height: clamp(1.786rem, 1.275rem + 2.551vw, 2.5rem);
    width: clamp(1.786rem, 1.275rem + 2.551vw, 2.5rem);
  }
  li {
    cursor: pointer;
  }

  .image-container {
    height: clamp(2.5rem, 1.786rem + 3.571vw, 3.5rem);
    width: clamp(2.5rem, 1.786rem + 3.571vw, 3.5rem);
  }
}

@theme {
  --color-grey500: hsl(219, 13%, 44%);
  --color-grey50: hsl(220, 38%, 97%);

  --color-blue950: hsl(214, 24%, 23%);
  --color-blue900: hsl(216, 25%, 25%);
  --color-blue850: hsl(215, 27%, 32%);
  --color-blue500: hsl(223, 100%, 59%);
  --color-blue300: hsl(216, 47%, 78%);
  --color-blue100: hsl(220, 50%, 95%);
  --color-blue50: hsl(225, 100%, 96%);

  --color-green500: hsl(151, 68%, 52%);
  --color-green100: hsl(151, 88%, 94%);

  --color-purple600: hsl(277, 91%, 56%);
  --color-purple100: hsl(278, 100%, 95%);

  --color-orange400: hsl(22, 100%, 60%);
  --color-orange50: hsl(27, 100%, 96%);

  --color-red500: hsl(0, 82%, 63%);

  --purple-tint: color-mix(in srgb, var(--color-purple600) 50%, white);

  --font-display: 'Rubik';
  --font-display-Italic: 'Rubik-Italic';
}

@font-face {
  font-family: 'Rubik';
  src: url('/src/assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Rubik-Italic';
  src: url('/src/assets/fonts/Rubik-Italic-VariableFont_wght.ttf')
    format('truetype');
}

@layer components {
  .option {
    background-color: white;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    font-size: clamp(1.125rem, 0.679rem + 2.232vw, 1.75rem);
    line-height: 100%;
    font-weight: 500;
  }
  .subject {
    font-size: clamp(1.125rem, 0.679rem + 2.232vw, 1.75rem);
    line-height: 100%;
    font-weight: 500;
  }
  .question {
    font-size: clamp(1.25rem, 0.536rem + 3.571vw, 2.25rem);
    font-weight: 500;
  }
  .submit {
    font-size: clamp(1.125rem, 0.679rem + 2.232vw, 1.75rem);
    border-radius: 12px;
    color: white;
    background-color: var(--color-purple-600);
    line-height: 100%;
    font-weight: 500;
  }

  .question-order {
    height: clamp(2.5rem, 1.786rem + 3.571vw, 3.5rem);
    width: clamp(2.5rem, 1.786rem + 3.571vw, 3.5rem);
  }
  .score {
    font-size: clamp(5.5rem, 3rem + 12.5vw, 9rem);
    font-weight: 500;
    line-height: 100%;
  }
  .total {
    font-size: clamp(1.125rem, 0.857rem + 1.339vw, 1.5rem);
    line-height: 100%;
    font-weight: 500;
    color: var(--color-grey500);
  }

  .error {
    font-size: clamp(1.125rem, 0.857rem + 1.339vw, 1.5rem);
    font-weight: 500;
  }

  .error-icon {
    height: clamp(2rem, 1.643rem + 1.786vw, 2.5rem);
    width: clamp(2rem, 1.643rem + 1.786vw, 2.5rem);
  }

  .answer-icon {
    height: clamp(2rem, 1.643rem + 1.786vw, 2.5rem);
    width: clamp(2rem, 1.643rem + 1.786vw, 2.5rem);
  }
}

@utility text-preset1 {
  font-weight: bold;
  line-height: 0.7619047619;
  letter-spacing: 0;
}

@media screen and (min-width: 48rem) {
  body {
    justify-content: center;
    background-image: url(assets/images/pattern-background-tablet-light.svg);
    background-position: right 12rem bottom 10rem;
  }
}

@media screen and (min-width: 64rem) {
  body {
    background-image: url(assets/images/pattern-background-desktop-light.svg);
    background-position: right -1rem bottom 0rem;
  }

  #root {
    place-content: center;
  }
}

body.dark {
  background-image: url(assets/images/pattern-background-mobile-dark.svg);
  background-color: var(--color-blue900);
  color: white;
}

@media screen and (min-width: 48rem) {
  body.dark {
    background-image: url(assets/images/pattern-background-tablet-dark.svg);
    background-position: right 12rem bottom 10rem;
  }
}
@media screen and (min-width: 64rem) {
  body.dark {
    background-image: url(assets/images/pattern-background-desktop-dark.svg);
    background-position: right -1rem bottom 0rem;
  }
}
